
.contentBox {
    width: 100%;
    max-width: 440px;
    border-radius: 50px;
    background-color: white;
    margin-top: -40px;
}

.componentWrapper {
    padding: 24px;
    margin-bottom: 20px;
}

.titleWrapper {
    max-height: 20px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sliderContainer {
    height: 200px;
    margin: 24px 0px;
    background-color: #000;
}

.dbContainer {
    height: 200px;
    margin: 24px 0px;
    background-color: #000;
}