.navBar {
    display: flex;
    justify-content: space-between;
}

.detailPageNavBar {
    display: flex;
    gap: 150px;
    align-items: center;
    margin-bottom: 10px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navText {
    font-size: 16px;
    font-weight: bold;
}

.navText.black {
    color: black;
}

.navText.white {
    color: white;
}