@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.gradientContent {
  width: 100%;
  max-width: 390px;
  min-height: 50vh;
  height: 100vh; 
  background-image: linear-gradient(rgb(5,128,83),black);
}
  
.content {
    width: 100%;
    max-width: 390px;
    background: #fff;
}

body{
  -ms-overflow-style: none;
  }
  
 ::-webkit-scrollbar {
   display: none;
  }
 

p, button {
  font-family: "Pretendard-Regular";
}

h1 {
  font-family: "Pretendard-Regular";
  text-align: center;
}

h3 {
  font-family: "Pretendard-Regular";
}

li {
  list-style: none;
}

input::placeholder{
  color: #88909B;
  font-family: "Pretendard-Regular";
  font-size: 14px;
}

hr {
  color: #BDBDBD;
  margin-top: 40px;
  margin-bottom: 20px;
}